<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Tell you what</title>
  </head>
  <body>
     {% extends "template.html" %}
     {% block content %}
    <h1> DANG OL VISUAL STUDIO MANG </h1>
    <p> dang ol </p>
     {% endblock %}
  </body>
</html>